[submodule "JS-Events-Practice"]
	path = JS-Events-Practice
	url = https://github.com/Frillion/JS-Events-Practice.git
[submodule "mobile_pacman_webgame"]
	path = mobile_pacman_webgame
	url = https://github.com/Frillion/mobile_pacman_webgame.git
